<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueWebpack</title>
    <%= csrf_meta_tags %>
    <%#= webpack_css_tag 'app', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= webpack_js_tag('app') %>
</html>
